# Web App
fastapi==0.95.2
uvicorn==0.15.0
python-multipart==0.0.5
streamlit==1.17.0
requests==2.26.0
pydantic==2.6.4

# Data Download & Processing
numpy==1.24.3
pandas==1.3.5
kaggle==1.5.13
kagglehub==0.1.0

# Visualization
seaborn==0.11.2
matplotlib==3.5.1

# Development & Utilities
joblib==1.1.0
pyyaml==6.0
tqdm==4.64.1
loguru==0.6.0
ipython==7.34.0
scipy==1.7.3
opencv-python-headless==4.5.5.64
python-dotenv==0.21.0
pillow==9.2.0

# ML Tools
mlflow==2.0.1
scikit-learn==1.3.0
torch==2.0.1
torchvision==0.15.2

# Local package (editable install)
-e .